
<div class="table-responsive">
  <app-incident-add-form *ngIf="showForm" ></app-incident-add-form>
  <app-more-info [incoming_incident]="selectedIncident"></app-more-info>
  <!-- [showMoreInfo]="true" -->
    <h4>Reports List: </h4>
    <table class="table table-hover">
    <!-- <thead>
      <tr>
        <th scope="col" (click)="sortedColumn = 'location'">Location</th>
        <th scope="col" (click)="sortedColumn = 'baddie_name'">Baddie's Name</th>
        <th scope="col" (click)="sortedColumn = 'time'">Time Reported</th>
        <th scope="col" (click)="sortedColumn = 'status'">Status</th>
        <th scope="col" colspan="2">Options</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let report of (incidents | tableSort : sortedColumn)">
        <td>{{ report.location }}</td>
        <td>{{ report.baddie_name }}</td>
        <td>{{ report.time }}</td>
        <td>{{ report.status }}</td>
        <td><button>More Info</button></td>
        <td><button>&#10005;</button></td>
      </tr>
    </tbody> -->
    <thead>
      <tr>
        <th scope="col" (click)="sortData('i.location')">Location
          <span *ngIf="sortedColumn === 'i.location'" class="sort-arrow">
            {{ sortedDirection === 'asc' ? '↑' : '↓' }}
          </span>
        </th>
        <th scope="col" (click)="sortData('i.troublemaker_name')">Baddie's Name
          <span *ngIf="sortedColumn === 'i.troublemaker_name'" class="sort-arrow">
          {{ sortedDirection === 'asc' ? '↑' : '↓' }}
          </span>
        </th>
        <th scope="col" (click)="sortData('i.reported_at')">
          Time Reported
          <span *ngIf="sortedColumn === 'i.reported_at'" class="sort-arrow">
            {{ sortedDirection === 'asc' ? '↑' : '↓' }}
          </span>
        </th>
        <th scope="col">Status</th>
        <th scope="col" colspan="2">Options</th>
      </tr>
    </thead>
      <tbody>
        <tr *ngFor="let i of incidents">
            <!-- | tableSort:sortedColumn -->
          <td>{{ i.location }}</td>
          <td>{{ i.troublemaker_name }}</td>
          <td>{{ i.reported_at| date: 'medium' }}</td>
          <td>{{ i.status }}</td>
          <td><button class="btn btn-outline-info"
            (click)="onSelect(i);">More Info</button></td>
          <td><button class="btn btn-outline-danger"
            (click)="delete(i.key)" 
            >&#10005;</button></td>
        </tr>
        <tr>
          <td colspan="6">
            <button 
             class="btn btn-outline-primary" (click)="showForm=true">CREATE A NEW NUISANCE REPORT</button>
          </td>
        </tr>
      </tbody>
  </table>
  </div>  


